<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>hiii..</h1>
        <a href="{% url 'mother' %}"><h2>response from mother</h2></a>
        <a href="{% url 'father' %}"><h2>response from father</h2></a>
        <a href="{% url 'specific:child1' %}"><h2>response from child1</h2></a>
        <a href="{% url 'specific:child2' %}"><h2>response from child2</h2></h1></a>
    </center>
</body>
</html>